@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&family=Nanum+Brush+Script&family=Playfair+Display:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b2d8b2;
    background-image: url("fundo.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 100vh;
    width: 100vw;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    z-index: 2;
}

.kanji-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 95vw;
}

.kanji-pair {
    white-space: nowrap;
    display: inline-block;
}

.kanji-item {
    font-family: 'Yuji Boku', serif;
    font-size: 6.6rem;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0.5px 0px 0px rgba(0, 0, 0, 0.8);
    filter: blur(0.2px);
    transition: all 0.3s ease;
    display: inline-block;
    pointer-events: auto;
    cursor: pointer;}

.kanji-item:hover {
    transform: scale(1.15) translateY(-5px);
    color: #000;
}

ruby {
    ruby-position: over;
}

rt {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    color: #1a331a;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    font-style: italic;
}

.kanji-item:hover rt {
    opacity: 1;
    transform: translateY(0);
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 480px) {
    .kanji-item {
        font-size: 5.4rem;
    }

    rt {
        font-size: 0.9rem;
    }
}